<div class="mainContainer">
  <p-toast position="bottom-left"></p-toast>
  <div class="automaticTransactionsTableContainer">
    <p-table [value]="automaticActions">
      <ng-template pTemplate="caption">
        <span class="tableCaption">
          Automatic Actions ({{automaticActions?.length}})
        </span>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th>From</th>
          <th>To</th>
          <th>Amount</th>
          <th>Condition</th>
          <th class="buttonContainer"></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-automaticTransactions>
        <tr>
          <td>{{automaticTransactions.sourceAccount.currency.code}}</td>
          <td>{{automaticTransactions.destAccount.currency.code}}</td>
          <td>{{automaticTransactions.amount}}</td>
          <td>{{automaticTransactions.excRate}}</td>
          <td class="buttonContainer">
            <i class="deleteIcon fa fa-trash" title="Delete account" (click)="DeleteAutomaticAction(automaticTransactions)">
            </i>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary">
        <a class="addNewAutomaticTransaction" (click)="openAddNewAutomaticTransactionDialog()">Add new automatic
          transaction</a>
      </ng-template>
    </p-table>
  </div>
</div>

<p-dialog header="Add new automatic action" [(visible)]="displayAutomaticAction" [modal]="true" [closable]="false" *ngIf="selectedAccountToTransferFrom" 
  [style]="{width: '600px', minWidth: '200px'}" [contentStyle]="{'overflow':'visible'}" [positionTop]="20" [minY]="100"
  [baseZIndex]="10000">
  <div>
    <div class="ui-g ui-fluid form-group">
      <div class="ui-g-12 ui-lg-6" style="padding: 10px;">
        <label>From account</label>
        <p-dropdown [options]="Accounts" [(ngModel)]="selectedAccountToTransferFrom" (onChange)="onChangeFilterAccounts()"
          optionLabel="currency.code">
        </p-dropdown>
      </div>
      <div class="ui-g-12 ui-lg-6" style="padding: 10px;">
        <label>Funds to transfer</label>
        <p-spinner [(ngModel)]="amountToTransfer" [min]="1" [max]="selectedAccountToTransferFrom.accountBalance">
        </p-spinner>
      </div>
      <div class="ui-g-12 ui-lg-6" style="padding: 10px;">
        <label>To account</label>
        <p-dropdown [options]="accountsTo" [(ngModel)]="selectedAccountToTransferTo"
          optionLabel="currency.code">
        </p-dropdown>
      </div>
      <div class="ui-g-12 ui-lg-6" style="padding: 10px;">
        <label>Condition</label>
        <div></div>
        <input class="balanceInput" type="text" pKeyFilter="pnum" [(ngModel)]="condition">
      </div>
    </div>
  </div>
  <p-footer>
    <button type="button" pButton icon="fa fa-check" (click)="addNewAutomaticAction()" label="Save"
      class="ui-button-success" [disabled]="!condition"></button>

    <button type="button" pButton icon="fa fa-fw fa-times" (click)="closeInserNewAutomaticActionDialog()" label="Cancel"
      class="ui-button-secondary"></button>
  </p-footer>
</p-dialog>
