.navbar-brand:hover {
  color: antiquewhite;
  text-decoration: underline;
}

.navbar-brand {
  padding-left: 7px;
  user-select: none;
}

.navbar-brand:hover {
  cursor: pointer;
}

.vl {
  border-left: 3px solid maroon;
  height: 40px;
}

