.tableCaption {
    font-size: large;
  }
  
  tr {
    text-align: center;
  }
  
  .buttonContainer {
    width: 2%;
    border: none;
  }
  
  .transferToBalanceIcon {
    color: green;
  }
  
  .transferToBalanceIcon:hover {
      cursor: pointer;
    }
  
  .deleteIcon {
      color: red;
  }
  
  .deleteIcon:hover {
      cursor: pointer;
  }
  